<div>

    <!-- <div *ngIf="sheets$ | async as sheets; else null">
    <div *ngFor="let sheet of sheets" class="character-card">
    {{ sheet.eng }}
    </div>
</div> -->

    <div>
        <div id='notify-control'>
            <div class='option-noti block' id='control'>
                <div class='option-left'>
                    <textarea title='f' id='txtField' value={{strField}}></textarea>
                </div>
                <div class='option-right notify-right'>

                    <ng-select class='button-34' [(ngModel)]="strSheet" (change)="setSheet($event)">
                        <ng-option *ngFor="let item of  sheetArr" [value]="item">{{item}}</ng-option>
                    </ng-select>

                    <select class='button-33' name="genData" id="slGenData" >
                        <option value="random">random</option>
                        <option value="order">order</option>
                    </select>
                    <select class='button-33' name="isUseVoice" id="slIsUseVoice" >
                        <option value={{IND_SPEAK_NOTI_ENG}}>Noti Eng</option>
                        <option value={{IND_SPEAK_NO_NOTI_ENG}}>Notify Eng - Voice</option>
                        <option value={{IND_SPEAK_NOTI_VOICE}}>Notify - Voice</option>
                        <option value={{IND_SPEAK_NO_VOICE}}>Notify</option>
                        <option value={{IND_SPEAK_NO_NOTI}}>Voice</option>
                        <option value={{IND_SPEAK_ALL_ENG}}>Notify Eng - Voice Eng</option>
                        <option value={{IND_SPEAK_NOTI_NO_VIE}}>Notify - Voice Eng</option>
                        <option value={{IND_SPEAK_NO_NOTI_NO_VIE}}>Voice Eng</option>
                    </select>

                    <div id='sound-control'>
                        <div>Voice 1:</div>
                        <ng-select class='button-33' [(ngModel)]="getVoices()[indexVoice1]"
                            (change)="onChangeVoice1($event)">
                            <ng-option *ngFor="let item of  getVoices()" [value]="item">{{item.name}}</ng-option>
                        </ng-select>

                        <br />
                        <div>Speech:</div>
                        <input type="range" min="1" max="250" [(ngModel)]="speech" (change)="onChangeSpeech(speech)">
                        {{speech}}%
                        <br />
                        <div>Voice 2:</div>
                        <ng-select class='button-33' [(ngModel)]="getVoices()[indexVoice2]"
                            (change)="onChangeVoice2($event)">
                            <ng-option *ngFor="let item of  getVoices()" [value]="item">{{item.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class='control-footer'>
                <p (click)="sayIt(true, strEnglish)"> {{strEnglish}} <p> <br/>
                <input class='button-41' type='submit' value="Start" id='btnStart' (click)=" onStart()" />

                <button class='button-41' id='btnStop' (click)="onStop()">Stop</button>
                <input class='button-23' type="text" id='timeValue' [(ngModel)]="valueTime"
                    (change)="onChangeValueTime(valueTime)" />
                <input class='button-59' type="submit" id='isNotify' value={{isNotify}} /><br />
            </div>
            <textarea id="strCookie"  [(ngModel)]="strCookieContinue" ></textarea>
        </div>

       <mat-icon aria-hidden="false" aria-label="icon" (click)="onHideControl()">home</mat-icon>
    </div> 